.credit-calculator {
	margin: 54px auto;
	padding: 0 15px;
	max-width: 320px;
}

.credit-calculator__title {
	margin: 0;
	margin-bottom: 22px;

	font-weight: 700;
	font-size: 22px;
	line-height: 140%;
	color: #1F1E25;
}

.credit-calculator__step {
	margin-bottom: 9px;
}

.credit-calculator__fieldset {
	padding: 0;
	margin: 0;
	border: none;
}

.credit-calculator__legend {
	margin: 10px 0;

	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	color: #1F1E25;
}

.credit-calculator__select {
	position: relative;
	width: 100%;
	padding: 0;
	margin-top: 4px;
	
	font-weight: 500;
	font-size: 16px;
	
	border: 1px solid #1F1E25;
	border-radius: 4px;
	box-sizing: border-box;
	list-style: none;

	&::before {
		display: block;
		display: none;
		position: absolute;
		content: "";

		top: 60px;
		width: 100%;
		height: 1px;

		background-color: #1F1E25;
	}
}

.credit-calculator__option {
	display: none;
	padding: 0 14px;
	border-top: 1px solid #C1C2CA;
	line-height: 57px;
	font-weight: 400;
	cursor: pointer;

	&:hover {
		color: rgba(44, 54, 242, 1);
	}
}

.credit-calculator__option-placeholder {
	position: relative;
	display: block;

	padding: 0 14px;
	padding-right: 33px;
	border-top: 1px solid #C1C2CA;

	font-weight: 500;
	line-height: 57px;

	cursor: pointer;

	&::after {
		display: block;
		position: absolute;
		content: "";

		top: 24px;
		right: 13px;
		width: 18px;
		height: 10px;

		background-image: url("../../images/vector/select.svg");
		background-repeat: no-repeat;
	}

	&--open {
		border-bottom: 1px solid #0A1E32;
	}
}

.credit-calculator__input-wrapper {
	position: relative;
	margin-top: 8px;
}

.credit-calculator__value-changer {
	position: absolute;

	padding: 0;
	width: 16px;
	height: 100%;
	top: 0;

	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	border: none;

	&--down {
		left: 24px;
		background-image: url("../../images/minus.png");
	}
	
	&--up {
		right: 15px;
		background-image: url("../../images/plus.png");
	}
}

.credit-calculator__input {
	width: 100%;
	padding: 0 40px;
	margin-top: 0px;

	border: 1px solid #1F1E25;
	border-radius: 4px;
	box-sizing: border-box;
	text-align: center;

	line-height: 58px;
	font-weight: 500;
	font-size: 16px;
	color: #1F1E25;

	&--property-value {
		display: none;
	}

	&::-webkit-inner-spin-button, 
	&::-webkit-outer-spin-button { 
		-webkit-appearance: none; 
		margin: 0; 
	}
}

.credit-calculator__input-title {
	margin: 0;

	font-size: 16px;
	line-height: 140%;
	color: #394959;
}

.credit-calculator__input-info {
	display: block;
	margin-top: 6px;

	font-size: 14px;
	line-height: 140%;
	color: #707C87;
	letter-spacing: 0.1px;
}